<!DOCTYPE html>
<html>
    <head>
        <mate charset="UTF-8" />
        <title>create</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_create.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="head">
                <div class="title">
                    <h1>クトゥルフ神話TRPG用ダイス</h1>
                </div>
                <div class="menu">
                    <button class="menu_btn" id="btn">☰</button>
                        <!-- 背景を暗くする -->
                        <div id="overlay"></div>
                        <!-- サイドバー -->
                        <div id="sidebar">
                            <h1>メニュー</h1>
                            <form action="/move" method="POST">
                                <button name="move_site" value="home">ホーム</button>
                                <button name="move_site" value="dice">ダイス</button>
                                <button name="move_site" value="create">キャラクリ</button>
                            </form>                            
                        </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="status"> 
                <form action="/change" method="post">
                    <p class="name_cc">
                        < {{ cc_id[0] }} ><br>
                        <input class="text" type="text" name="text">
                        <input type="submit" name="cc_name"  value="名前変更">
                    </p>
                </form>
                <form action="/test" method="post">
                    <button class="btn" name="roll" value="all_random">一括で振る</button>
                    <input class="btn" type="submit" name="roll" value="保存">
                    <input class="btn" type="submit" name="roll" value="削除">
                    <table class="table_1">
                        <tr>
                            <th>能力</th>
                            <th>ダイス</th>
                            <th>能力値</th>
                        </tr>
                        <tr>
                            <td>STR(筋力)</td>
                            <td class="td_left">
                                <button name="roll" value="str">3d6</button>
                            </td>
                            <td>
                                {{session['str']}}
                            </td>
                        </tr>
                        <tr>
                            <td>CON(体力)</td>
                            <td class="td_left">
                                <button name="roll" value="con">3d6</button>
                            </td>
                            <td>
                                {{session['con']}}
                            </td>
                        </tr>
                        <tr>
                            <td>POW(精神力)</td>
                            <td class="td_left">
                                <button name="roll" value="pow">3d6</button>
                            </td>
                            <td>
                                {{session['pow']}}
                            </td>
                        </tr>
                        <tr>
                            <td>DEX(俊敏性)</td>
                            <td class="td_left">
                                <button name="roll" value="dex">3d6</button>
                            </td>
                            <td>
                                {{session['dex']}}
                            </td>
                        </tr>
                        <tr>
                            <td>APP(外見)</td>
                            <td class="td_left">
                                <button name="roll" value="app">3d6</button>
                            </td>
                            <td>
                                {{session['app']}}
                            </td>
                        </tr>
                        <tr>
                            <td>SIZ(体格)</td>
                            <td class="td_left">
                                <button name="roll" value="siz">2d6+6</button>
                            </td>
                            <td>
                                {{session['siz']}}
                            </td>
                        </tr>
                        <tr>
                            <td>INT(知性)</td>
                            <td class="td_left">
                                <button name="roll" value="int">2d6+6</button>
                            </td>
                            <td>
                                {{session['int']}}
                            </td>
                        </tr>
                        <tr>
                            <td>EDU(教育)</td>
                            <td class="td_left">
                                <button name="roll" value="edu">3d6+6</button>
                            </td>
                            <td>
                                {{session['edu']}}
                            </td>
                        </tr>
                    </table>
                    <table class="table_2">
                        <tr>
                            <th>項目</th>
                            <th>数式</th>
                            <th>ポイント</th>
                        </tr>
                        <tr>
                            <td>SAN (正気度)</td>
                            <td>POW×5</td>
                            <td>{{session['san']}}</td>
                        </tr>
                        <tr>
                            <td>幸運</td>
                            <td>POW×5</td>
                            <td>{{ session['luck'] }}</td>
                        </tr>
                        <tr>
                            <td>アイデア</td>
                            <td>INT×5</td>
                            <td>{{ session['idea'] }}</td>
                        </tr>
                        <tr>
                            <td>知識</td>
                            <td>EDU×5</td>
                            <td>{{ session['know'] }}</td>
                        </tr>
                        <tr>
                            <td>耐久力 (HP)</td>
                            <td>(CON+SIZ)÷2</td>
                            <td>{{ session['hp'] }}</td>
                        </tr>
                        <tr>
                            <td>マジックポイント</td>
                            <td>POW×1</td>
                            <td>{{ session['mp'] }}</td>
                        </tr>
                        <tr>
                            <td>職業ポイント</td>
                            <td>EDU×20</td>
                            <td>{{ session['sp'] }}</td>
                        </tr>
                        <tr>
                            <td>興味ポイント</td>
                            <td>INT×10</td>
                            <td>{{ session['ip'] }}</td>
                        </tr>
                        <tr>
                            <td>ダメージボーナス</td>
                            <td>STR+SIZ</td>
                            <td>{{ session['dbs'] }}</td>
                        </tr>
                    </table>
                </form>
                <br>
                <div class="memo">
                    <p>値は四捨五入した値が表示されます。</p>
                    <p>技能値が95を超える場合自動で技能値が95に設定されます。</p>
                </div>
            </div>
            <div class="point"></div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>