<!DOCTYPE html>
<html>
    <head>
        <mate charset="UTF-8" />
        <title>create</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_create.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="head">
                <div class="title">
                    <h1>クトゥルフ神話TRPG用ダイス</h1>
                </div>
                <div class="menu">
                    <button class="menu_btn" id="btn">☰</button>
                        <!-- 背景を暗くする -->
                        <div id="overlay"></div>
                        <!-- サイドバー -->
                        <div id="sidebar">
                            <h1>メニュー</h1>
                            <form action="/move" method="POST">
                                <button name="move_site" value="home">ホーム</button>
                                <button name="move_site" value="dice">ダイス</button>
                                <button name="move_site" value="create">キャラクリ</button>
                            </form>                            
                        </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="select">
                <form action="/select" method="post">
                    <div class="boxs">
                        <div class="cc_1 box">
                            <p class="p_color">
                                {{ cc_id[0][0] }}
                                <button class="edit" name="edit" value="cc_1">編集</button>
                            </p>
                        </div>
                        <div class="cc_2 box">
                            <p class="p_color">
                                {{ cc_id[1][0] }}
                                <button class="edit" name="edit" value="cc_2">編集</button>
                            </p>
                        </div>
                        <div class="cc_3 box">
                            <p class="p_color">
                                {{ cc_id[2][0] }}
                                <button class="edit" name="edit" value="cc_3">編集</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>