<!DOCTYPE html>
<html lange="ja">
    <head>
        <mate charset="UTF-8" />
        <title>rensyu</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_home.css') }}">
    </head>
    <body>
        <header></header>
        <main>
            <div class="form">
                <form action="/create_cc" method="POST">
                    <p>name</p>
                    <input type="text" name="name"><br>
                    <input type="text" name="age"><br>
                    <input type="submit" name="submit" value="作成">
                </form> 
                <form action="/select_cc" method="post">
                    <select name="cc_id">
                        {% for id,name in cc_id %}
                            <option value="{{id}}">{{name}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="決定" name="select">
                </form>
                <form action="/clear" method="POST">
                    <input type="submit" value="削除" name="clear"><br>
                    <p>{{ session['a'] }}</p>
                </form>   
            </div>
        </main>
    </body>
</html>
