<!DOCTYPE html>
<html>
    <head>
        <mate charset="UTF-8" />
        <title>trpg_dice</title>
        <link rel="stylesheet" href="{{ url_for( 'static',  filename = 'stylesheet_trpg.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="head">
                <div class="title">
                    <h1>クトゥルフ神話TRPG用ダイス</h1>
                </div>
                <div class="ne">
                    <button id="btn">☰</button>
                        <!-- 背景を暗くする -->
                        <div id="overlay"></div>
                        <!-- サイドバー -->
                        <div id="sidebar">メニュー内容</div>
                        <script src="{{ url_for('static', filename='script.js') }}"></script>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="cc">
                <div class="img_cc">
                    <img class="img" src="{{ url_for('static' , filename='images/正四面体.png') }}" alt="No image">
                </div>
                <div class="skill">
                    <ul class="skill_list none">
                        <li>目星</li>
                        <li>聞き耳</li>
                        <li>図書館</li>
                    </ul>
                </div>
                <div class="status">
                    <ul class="status_list none">
                        <li>HP</li>
                        <li>SAN</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="result">
                <div class="roll_command"></div>
                <div class="roll_result"></div>   
            </div>
            <div class="form">
                <form action="/roll" method="post">
                    <div class="text_box"></div>
                    <div class="imgs"></div>
                </form>
            </div>
            <div class="detail">
                <div class="use"></div>
            </div>
        </div>
        <div class="footer"></div>
    </body>
</html>